<mat-toolbar color="primary" class="toolbar" fxLayout="row" fxLayoutAlign="start center">
  <img src="https://images.freeimages.com/fic/images/icons/213/south_park/300/cartman_hitler_icon.png" alt="Logo" class="logo">
  <span class="app-title">Mi Aplicación</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
    <a mat-button routerLink="/autor" routerLinkActive="active-link">Autor</a>
    <a mat-button routerLink="/categoria" routerLinkActive="active-link">Categoria</a>
  </nav>
</mat-toolbar>

<main [@fadeAnimation]>
  <router-outlet></router-outlet>
</main>
