<mat-toolbar color="primary" class="toolbar" fxLayout="row" fxLayoutAlign="start center">
  <img src="https://images.freeimages.com/fic/images/icons/213/south_park/300/cartman_hitler_icon.png" alt="Logo" class="logo">
  <span class="app-title">Mi Aplicación</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
    <a mat-button routerLink="/autores" routerLinkActive="active-link">Autor</a>
    <a mat-button routerLink="/categorias" routerLinkActive="active-link">Categoria</a>
    <a mat-button routerLink="/libros" routerLinkActive="active-link">Libros</a>
    <a mat-button routerLink="/usuarios" routerLinkActive="active-link">Usuarios</a>
    <a mat-button routerLink="/prestamos" routerLinkActive="active-link">Prestamos</a>

  </nav>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
